<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="/static/css/admin_master.css" />
        <title></title>
    </head>
    <body>
        <div class="p30">
            <div class="homeTable">
                <table>
                    <colgroup>
                        <col style="width:25%;" />
                        <col style="width:25%;" />
                        <col style="width:25%;" />
                        <col style="width:25%;" />
                    </colgroup>
                    <tr>
                        <th>总商品数量</th>
                        <td><%= total1 %></td>
                        <th>在售商品数量</th>
                        <td><%= total2 %></td>
                    </tr>
                </table>
            </div>
            <div class="achievement">
            </div>
        </div>
    </body>
</html>